---
import { getCollection, getEntry } from 'astro:content'

import Categorizer from '~/components/base/Categorizer.astro'
import ListItem from '~/components/views/ListItem.astro'
import Toc from '~/components/toc/Toc.astro'

import { FEATURES } from '~/config'
import { isSameYear, getYear } from '~/utils/datetime'
import {
  getExternalBlogPosts,
  getFilteredPosts,
  getSortedPosts
} from '~/utils/post'

import type { FeedSchema, StreamGroupsSchema } from '~/content/schema'
import type { PostEntry, PostCollectionKey } from '~/utils/post'

type ListCollectionType = PostCollectionKey | 'streams' | 'feeds'
type FeedEntry = {
  id: string
  data: FeedSchema
}
type PostListItem = {
  title: string
  pubDate: Date
  redirect?: string
  postSlug?: string
  video?: boolean
  radio?: boolean
  platform?: string
  getMinutesRead?: () => Promise<number | undefined>
}

interface Props {
  collectionType: ListCollectionType
  pageToc: boolean
}

const { collectionType, pageToc } = Astro.props as Props

/* Toc */
const { toc } = FEATURES
const tocEnabled = Array.isArray(toc) && toc[0] && pageToc
let years: string[] = []

/* Posts */
let blogItems: PostEntry[] = []
let sortedBlogItems: PostListItem[] = []

if (collectionType === 'blog' || collectionType === 'changelog') {
  blogItems = await getFilteredPosts(collectionType)
  const localBlogItems: PostListItem[] = getSortedPosts(blogItems).map(
    function (item) {
      const { data, slug } = item

      return {
        title: data.title,
        pubDate: data.pubDate,
        redirect: data.link || data.redirect,
        postSlug: slug,
        video: data.video,
        radio: data.radio,
        platform: data.platform,
        getMinutesRead: async function () {
          const { remarkPluginFrontmatter } = await item.render()
          return data.minutesRead || remarkPluginFrontmatter.minutesRead
        }
      }
    }
  )
  const externalBlogItems: PostListItem[] =
    collectionType === 'blog'
      ? getExternalBlogPosts().map(function (item) {
          return {
            title: item.title,
            pubDate: item.pubDate,
            redirect: item.link
          }
        })
      : []

  sortedBlogItems = [...localBlogItems, ...externalBlogItems].sort(
    function (a, b) {
      return b.pubDate.valueOf() - a.pubDate.valueOf()
    }
  )

  if (tocEnabled) {
    const yearsSet = new Set<number>()
    sortedBlogItems.forEach((item) => {
      const year = getYear(item.pubDate)
      yearsSet.add(year)
    })

    years = Array.from(yearsSet)
      .sort((a, b) => b - a)
      .map((year) => year.toString())
  }
}

/* Streams */
let streamItems: StreamGroupsSchema = []
let sortedStreamItems: StreamGroupsSchema = []

if (collectionType === 'streams') {
  const streamData = (await getEntry('streams', 'data')) as
    | { data: { streams: StreamGroupsSchema } }
    | undefined
  if (!streamData) throw new Error("Streams entry 'data' was not found.")
  streamItems = streamData.data.streams

  sortedStreamItems = streamItems.sort(
    (a, b) => b.pubDate.valueOf() - a.pubDate.valueOf()
  )

  if (tocEnabled) {
    const yearsSet = new Set<number>()
    sortedStreamItems.forEach((item) => {
      const year = getYear(item.pubDate)
      yearsSet.add(year)
    })

    years = Array.from(yearsSet)
      .sort((a, b) => b - a)
      .map((year) => year.toString())
  }
}

/* Feeds */
let feedItems: FeedEntry[] = []
let sortedFeedItems: FeedEntry[] = []

if (collectionType === 'feeds') {
  feedItems = (await getCollection('feeds')) as FeedEntry[]

  sortedFeedItems = feedItems.sort((a, b) => {
    if (!a.data.pubdate || !b.data.pubdate)
      throw new Error("Feed item is missing 'pubdate' field.")

    return b.data.pubdate.valueOf() - a.data.pubdate.valueOf()
  })

  if (tocEnabled) {
    const yearsSet = new Set<number>()
    sortedFeedItems.forEach((item) => {
      const year = getYear(item.data.pubdate as Date)
      yearsSet.add(year)
    })

    years = Array.from(yearsSet)
      .sort((a, b) => b - a)
      .map((year) => year.toString())
  }
}
---

{tocEnabled && <Toc {years} />}

{
  (collectionType === 'blog' || collectionType === 'changelog') && (
    <div aria-label="Post list">
      {sortedBlogItems.length === 0 ? (
        <div class="py-2 op-50">nothing here yet</div>
      ) : (
        sortedBlogItems.map(async function (item, idx) {
          const minutesRead = item.getMinutesRead
            ? await item.getMinutesRead()
            : undefined

          return (
            <>
              {!isSameYear(item.pubDate, sortedBlogItems[idx - 1]?.pubDate) && (
                <Categorizer
                  {idx}
                  needId={tocEnabled}
                  text={getYear(item.pubDate).toString()}
                />
              )}
              <ListItem
                {idx}
                {collectionType}
                redirect={item.redirect}
                postSlug={item.postSlug}
                title={item.title}
                video={item.video}
                radio={item.radio}
                date={item.pubDate}
                {minutesRead}
                platform={item.platform}
              />
            </>
          )
        })
      )}
    </div>
  )
}

{
  collectionType === 'streams' && (
    <div aria-label="Stream list">
      {sortedStreamItems.length === 0 ? (
        <div class="py-2 op-50">nothing here yet</div>
      ) : (
        sortedStreamItems.map((item, idx) => {
          return (
            <>
              {!isSameYear(
                item.pubDate,
                sortedStreamItems[idx - 1]?.pubDate
              ) && (
                <Categorizer
                  {idx}
                  needId={tocEnabled}
                  text={getYear(item.pubDate).toString()}
                />
              )}
              <ListItem
                {idx}
                {collectionType}
                redirect={item.link}
                title={item.title}
                video={item.video}
                radio={item.radio}
                date={item.pubDate}
                platform={item.platform}
              />
            </>
          )
        })
      )}
    </div>
  )
}

{
  collectionType === 'feeds' && (
    <div aria-label="Feed list">
      {sortedFeedItems.length === 0 ? (
        <div class="py-2 op-50">nothing here yet</div>
      ) : (
        sortedFeedItems.map((item, idx) => {
          const { data } = item
          if (!data.link)
            throw new Error(
              `Feed item with id '${item.id}' is missing 'link' field.`
            )
          if (!data.title)
            throw new Error(
              `Feed item with id '${item.id}' is missing 'title' field.`
            )

          return (
            <>
              {!isSameYear(
                item.data.pubdate as Date,
                sortedFeedItems[idx - 1]?.data.pubdate as Date
              ) && (
                <Categorizer
                  {idx}
                  needId={tocEnabled}
                  text={getYear(item.data.pubdate as Date).toString()}
                />
              )}
              <ListItem
                {idx}
                {collectionType}
                redirect={item.data.link as string}
                title={item.data.title as string}
                date={item.data.pubdate as Date | string}
              />
            </>
          )
        })
      )}
    </div>
  )
}
